.App {
  display: flex;
  justify-content: center;

}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

.content {
  background-color: teal;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 50%;
}

.content > p {
  font-size: 1rem;
  font-weight: 600;
  color: aliceblue;
}

.hash:hover {
  cursor: pointer;
}

.Trans {
  display: flex;
  justify-content: center;

}